{% extends "base.html" %}
{% block content %}

    <!-- enctyoe allows us to upload images -->
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}<!-- getting csrf token -->

        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}

        {{form.lastname.label(class="form-label")}}
        {{form.lastname(class="form-control")}}

        {{form.born.label(class="form-label")}}
        {{form.born(class="form-control")}}

        {{form.pic.label(class="form-label")}}
        {{form.pic(class="form-control")}}

        <br/>
        {{form.submit(class="btn btn-primary")}}
    </form>


{% endblock %}
