{% extends "base.html" %}
{% block content %}

    <!-- enctyoe allows us to upload images -->
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}<!-- Include CSRF token for security -->

        <div class="form-group">
            {{ form.name.label(class_="form-label") }} <!-- Use class_ instead of class to avoid conflict with Python keyword -->
            {{ form.name(class_="form-control") }}
        </div>

        <div class="form-group">
            {{ form.lastname.label(class_="form-label") }}
            {{ form.lastname(class_="form-control") }}
        </div>

        <div class="form-group">
            {{ form.born.label(class_="form-label") }}
            {{ form.born(class_="form-control") }}
        </div>

        <div class="form-group">
            {{ form.pic.label(class_="form-label") }}
            {{ form.pic(class_="form-control-file") }} <!-- Use form-control-file class for file input -->
        </div>

        <br/>
        {{form.submit(class_="btn btn-primary")}}
    </form>


{% endblock %}
