{% extends 'base.html' %}

{% block content %}
    <h1>Add a new quote</h1>
    <form method="POST">
        <label>Author:</label>
        <select name="author_id" required>
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }} {{ author.lastname }}</option>
            {% endfor %}
        </select>
        <br>
        <label>Text:</label>
        <input type="text" name="text" required>
        <br>
        <label>Status:</label>
        <label for="status">Status:</label>
        <select name="status">
            <option value="published">Published</option>
            <option value="unpublished" selected>Unpublished</option>
        </select>
        <br>
        <label>Date created:</label>
        <input type="date" name="date_created" required>
        <br>
        <label>Score:</label>
        <input type="text" name="score" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
