{% extends "base.html" %}
{% block content %}

    <!-- display flashed message -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br/>
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2 class="margin50">All authors</h2>
    <div class="row">
        <div class="margin50 col-lg-8">

            {% for author in authors %}
                {% set len = namespace(count=0) %}
                {% for quote in author.quotes %}
                    {% set len.count = len.count + 1 %}
                {% endfor %}

                <div class="author">
                    <div class="authorDetails">

                        <div class="authorImage">
                            <a href="{{ url_for('route_single_author', first_last_name=author.name ~ '_' ~ author.lastname) }}"><img class="card-img-top" src="{{url_for('static', filename='images/' + author.pic)}}" alt="{{author.name ~ '_' ~ author.lastname}}'s image"></a>

                        </div>

                        <div class="authorText">
                            <a href="{{ url_for('route_single_author', first_last_name=author.name ~ '_' ~ author.lastname) }}">{{ author.name }} {{author.lastname}}'s Quotes</a>
                        </div>

                        <div class="authorFooter">
                            <small class="text-muted">
                                Born: {{ author.born }}

                            </small>
                        </div>

                    </div>
                    <div class="authorAction">
                        <small class="text-muted">
                            Quotes: <b>{{ len.count }}</b>
                        </small>
                    </div>
                </div>
            {% endfor %}

        </div>
        {% include "sidebar.html" %}
    </div>
{% endblock %}
