{% extends "base.html" %}
{% block content %}
    <h2 class="margin50">All quotes</h2>
    <div class="row">
        <div class="margin50 col-lg-8">
        {% for quote in quotes_data %}
            <p class="quoteText">“{{ quote['tekstas']}}”</p>
            <p class="quoteMetadata">- <i><a href="{{ url_for('route_single_author', single_author=quote['autorius']) }}">{{quote['autorius']}}</a></i></p>
            <!-- <h1><a href="{{ url_for('route_single_quote', quote_title=quote['pavadinimas']) }}">{{quote['pavadinimas']}}</a></h1> -->
            <p class="quoteMetadata">
                Patalpinta:
                Data: {{quote['data']}},
                status:
                {% if quote['balai'] > 1000 %}
                    <i>✅</i>
                {% else %}
                    <i>❗</i>
                {% endif %}
            </p>
            <hr/>
        {% endfor %}
        </div>
        {% include "sidebar.html" %}
    </div>
{% endblock %}
