.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid;
}

.d-flex {
  gap: 20px;
}

.tiny {
  font-size: 14px;
}

.margin50 {
  margin-top: 50px;
  justify-content: center;
}

.footer {
  margin-top: 50px;
  padding: 20px;
  border-top: 1px solid lightgray;
  text-align: center;
}

.sidebar {
  /* background-color: orange; */
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  /* height: 100vh; */
}
