.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid;
}

.d-flex {
  gap: 20px;
}

.tiny {
  font-size: 14px;
}
